.projects-container {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Center the cards and distribute space evenly */
    gap: 20px; /* Adjust the gap between cards */
    margin-left: 100px;
    margin-right: 20px;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        font-family: 'Courier New', Courier, monospace;
      }
      .projectName{
        float: left;
        display: flex;
      }
      .tech{
        float: right;
        display: flex;
        gap: 20px;
      }
      h4 {
        font-size: 1.3rem;
        color: #d99a5a;
        text-decoration: none;
        background-image: linear-gradient(#d99a5a, #d99a5a);
        background-size: 0% 0.1em;
        background-position-y: 100%;
        background-position-x: 50%;
        background-repeat: no-repeat;
        transition: background-size 0.2s ease-in-out;
        font-family: 'Courier New', Courier, monospace;
      }
      h4:hover{
        cursor: pointer;
        background-size: 100% 0.1em;
      }
  
      .desc {
        display: block;
        margin-top: 2rem;
        position: relative;
        color: gray;
        font-size: 1.5rem;
        justify-content:last baseline;
      }
}
  