.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Center the cards and distribute space evenly */
    gap: 20px; /* Adjust the gap between cards */
    margin-left: 100px;

      h3 {
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 3rem;
        font-family: 'Times New Roman', Times, serif;
      }
      .projectName{
        float: left;
        display: flex;
      }
      .tech{
        float: right;
        display: flex;
        gap: 20px;
      }
      h4 {
        font-size: 1.2rem;
        color: gold;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
      }
      h4:hover{
        cursor: pointer;
      }
  
      .desc {
        display: block;
        margin-top: 2rem;
        position: relative;
        color: gray;
        font-size: 1.5rem;
        justify-content:last baseline;
      }
}
  