.page{
    height: 100vh; /* Set a fixed height in viewport height units */
    width: 100%;
    position: relative;
    overflow-y: auto;
}

.tags{
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore';
}
.container{
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIN 1s forwards;
    animation-delay: 1s;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.about-page, .contact-page{
    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1{
            font-size: 50px;
            color: yellow;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;

            &::before{
                font-family: "times new roman";
                font-size: 18px;
                position: absolute;
                margin-top: -20px;
                left: -10px;
                opacity: 0.6;
                line-height: 18px;
            }
            &::after{
                font-family: "times new roman";
                font-size: 18px;
                line-height: 18px;
                position: absolute;
                left: -30px;
                bottom: -20px;
                margin-left: 20px;
                opacity: 0.6;
            }
        }

        p{
            font-size:13px;
            color: white;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 100;
            min-width: fit-content;
            animation: pulse 1s;

            &:nth-of-type(1){
                animation-delay: 1.1s;
            }
            &:nth-of-type(2){
                animation-delay: 1.2s;
            }
            &:nth-of-type(3){
                animation-delay: 1.3s;
            }
        }

    }
    .text-animate-hover{
        &:hover{
            color: #ffd700;
        }
    }
}